# Arquivos

## Automatizando o processo de gravação

In [ ]:
fileName = input('Digite o nome do arquivo: ')

In [ ]:
fileName = fileName + ".txt"

In [ ]:
arq = open(fileName, 'w')

In [ ]:
arq.write('Including texto no arquivo criado')

In [ ]:
arq.close()

## Manipulando CSV com Funções Built-in

In [ ]:
f = open('salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
print(rows)

In [ ]:
fullData = []

In [ ]:
for row in rows:
  pieces = row.split(',')
  fullData.append(pieces)

In [ ]:
print(fullData)

In [18]:
print(len(fullData))

32184

## Gerando arquivo pelo Jupyter Notebook

In [19]:
%%writefile teste.txt
Olá este foi um arquivo gerado pelo Juptyer Notebook

Overwriting teste.txt

In [20]:
arq2 = open('teste.txt')

In [21]:
print(arq2.read())

Olá este foi um arquivo gerado pelo Juptyer Notebook

## Importando um dataset com Pandas

In [23]:
import pandas as pd

In [24]:
file_name = 'binary.csv'

In [25]:
df = pd.read_csv(file_name)

In [26]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [27]:
file2 = 'salarios.csv'

In [29]:
df2 = pd.read_csv(file2)

In [30]:
df2.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00