# Data Professional Salary

In [1]:
import pandas as pd
import numpy as np

## Lendo Arquivo

In [2]:
salary_data_frame = pd.read_csv('data_professional_salary_survery.csv')
salary_data_frame

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2020,1/4/2020 18:50:34,115.000,United States,03,Microsoft SQL Server,15,"Microsoft SQL Server, MongoDB, Azure SQL DB (a...",Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2016,20K-99K (large town),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2020,1/4/2020 10:43:02,100.000,United States,NaN,Other,6,MySQL/MariaDB,Full time employee,"Developer: App code (C#, JS, etc)",...,informix,informix,1M+ (metropolis),Private business,Not Asked,Prefer not to say,Male,Not Asked,Not Asked,1
2,2020,1/4/2020 9:51:46,100.000,Spain,28046,Microsoft SQL Server,2,MySQL/MariaDB,Full time employee,Other,...,SQL Server 2017,SQL Server 2017,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
3,2020,1/4/2020 1:08:54,70.000,United States,94133,Microsoft SQL Server,3,Microsoft Access,Full time employee,Analyst,...,SQL Server 2016,SQL Server 2012,1M+ (metropolis),Private business,Not Asked,Change both employers and roles,Male,Not Asked,Not Asked,1
4,2020,1/3/2020 15:28:54,110.000,United States,95354,Oracle,30,"Microsoft SQL Server, Oracle, MySQL/MariaDB, P...",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2016,SQL Server 2008R2,100K-299K (city),Non-profit,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8622,2017,1/5/2017 5:34:34,35.000,France,Not Asked,Microsoft SQL Server,10,Oracle,Full time employee of a consulting/contracting...,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
8623,2017,1/5/2017 5:33:03,56.000,United Kingdom,Not Asked,Microsoft SQL Server,6,NaN,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
8624,2017,1/5/2017 5:32:57,95.000,Germany,Not Asked,Microsoft SQL Server,5,"Oracle, MySQL/MariaDB, Informix",Full time employee,Other,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
8625,2017,1/5/2017 5:26:23,61.515,United Kingdom,Not Asked,Microsoft SQL Server,15,"Oracle, PostgreSQL",Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,No,Not Asked,Not Asked,Not Asked,Not Asked,1
8626,2017,1/5/2017 5:10:20,200.000,United States,Not Asked,Microsoft SQL Server,10,MySQL/MariaDB,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1

## Análise Exploratória

In [4]:
salary_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8627 entries, 0 to 8626
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Survey Year                           8627 non-null   int64
 1   Timestamp                             8627 non-null   object
 2    SalaryUSD                            8627 non-null   object
 3   Country                               8627 non-null   object
 4   PostalCode                            7237 non-null   object
 5   PrimaryDatabase                       8627 non-null   object
 6   YearsWithThisDatabase                 8627 non-null   int64
 7   OtherDatabases                        6979 non-null   object
 8   EmploymentStatus                      8627 non-null   object
 9   JobTitle                              8627 non-null   object
 10  ManageStaff                           8627 non-null   object
 11  YearsWithThisTypeOfJob                8627 non-null   int64
 12  HowManyCompanies                      8627 non-null   object
 13  OtherPeopleOnYourTeam                 8627 non-null   object
 14  CompanyEmployeesOverall               8627 non-null   object
 15  DatabaseServers                       8627 non-null   int64
 16  Education                             8627 non-null   object
 17  EducationIsComputerRelated            7411 non-null   object
 18  Certifications                        8627 non-null   object
 19  HoursWorkedPerWeek                    8627 non-null   object
 20  TelecommuteDaysPerWeek                8627 non-null   object
 21  NewestVersionInProduction             8617 non-null   object
 22  OldestVersionInProduction             8618 non-null   object
 23  PopulationOfLargestCityWithin20Miles  8627 non-null   object
 24  EmploymentSector                      8627 non-null   object
 25  LookingForAnotherJob                  8627 non-null   object
 26  CareerPlansThisYear                   8627 non-null   object
 27  Gender                                8627 non-null   object
 28  OtherJobDuties                        8007 non-null   object
 29  KindsOfTasksPerformed                 8420 non-null   object
 30  Counter                               8627 non-null   int64
dtypes: int64(5), object(26)
memory usage: 2.0+ MB

In [5]:
salary_data_frame.isnull().sum()

Survey Year                                0
Timestamp                                  0
 SalaryUSD                                 0
Country                                    0
PostalCode                              1390
PrimaryDatabase                            0
YearsWithThisDatabase                      0
OtherDatabases                          1648
EmploymentStatus                           0
JobTitle                                   0
ManageStaff                                0
YearsWithThisTypeOfJob                     0
HowManyCompanies                           0
OtherPeopleOnYourTeam                      0
CompanyEmployeesOverall                    0
DatabaseServers                            0
Education                                  0
EducationIsComputerRelated              1216
Certifications                             0
HoursWorkedPerWeek                         0
TelecommuteDaysPerWeek                     0
NewestVersionInProduction                 10
OldestVersionInProduction                  9
PopulationOfLargestCityWithin20Miles       0
EmploymentSector                           0
LookingForAnotherJob                       0
CareerPlansThisYear                        0
Gender                                     0
OtherJobDuties                           620
KindsOfTasksPerformed                    207
Counter                                    0
dtype: int64

In [12]:
import matplotlib.pyplot as plt
plt.hist(y = salary_data_frame[' SalaryUSD '].head(10))

TypeError: hist() missing 1 required positional argument: 'x'